backend:
  name: github
  repo: mdejuan/mdejuan.github.io
  branch: master
  site_domain: sharp-turing-e401ce.netlify.app

media_folder: "/assets/img/uploads"

collections:
  - name: "pages"
    label: "Pages"
    extension: "json"
    editor:
      preview: true
    delete: false
    preview_path: 'page'
    files:
      - label: "Contact"
        name: "contact"
        file: "/json/contact.json"
        allow_add: true
        fields:
          - { label: Title, name: title, widget: string}

  - label: "Blog"
    name: "blog"
    extension: "json"
    file: "/json/blog.json"
    allow_add: true
    fields:
      - { name: path, label: Path }
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - { name: description, label: Description }
      - { name: image, label: Image, widget: image }
      - { name: body, label: Body, widget: markdown }
