backend:
  name: github
  repo: mdejuan/mdejuan.github.io
  branch: master
  site_domain: sharp-turing-e401ce.netlify.app

media_folder: "/assets/img/uploads"

collections:
  - label: "Pages"
    name: "pages"
    extension: "json"
    editor:
      preview: false
    files:
      - label: "Contact"
        name: "contact"
        file: "/json/contact.json"
        fields:
          - {label: Title2, name: title2, widget: string}